
div#game-container {
    width: clamp(300px, 50%, 600px) ; 
    margin: 0px auto; /* Center the div horizontally */
    border: 1px solid lightgrey; /* 1px light grey border */
    font: 100% Helvetica, Verdana, Arial, sans-serif;
    padding:0;
}
div#game-title {
    font-family: 'Trebuchet MS', Helvetica, Verdana, Arial, sans-serif;
    text-align: center;
    background-color:darkslategray;
    color: white;
    padding: 25px;
}
div#game-title h1{
    padding:0; margin:0;
}
div#player-details{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 20px 0;
}

div#player1name, div#player2name{
    text-transform: uppercase;
    font-weight:bold;
}
#player1, #player2, #game-draws{
    margin-top: 5px;
    font-size: 85%;
    color:darkslategray;
}

div#turn-info{
    text-align: center;
    margin: 5px auto;
}

div.game-grid{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px); 
    grid-gap: 15px; /* Adjust the gap between grid items as needed */
    justify-content: center;
    padding: 10px 0;
}
.grid-item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color:darkslategray;
    color: white;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition effect */
  }

.grid-item.empty:hover {
    background-color: #5aa5e7; /* Lighter background color on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Slight box shadow on hover */
}

div#game-controls{
    text-align: center;
    margin: 10px 0;
}
div#start-button{
    display: inline-block;
    padding: 10px 15px;
    background-color:  #FCFCFD;
    border-radius: 4px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    text-transform: uppercase;
    transition: box-shadow .15s,transform .15s;
    margin: 10px 0;
}
div#start-button:hover{
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
